.card-group{margin: auto;}

.custom-body{height: auto;
box-shadow: inset 0 0 0rem rgba(0, 0, 0, .5);}

.copy-span{
    background-color: white;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.input-check-exercise{
    text-align: left;
}

.carousel-indicators{
    margin-left: 3%;
    margin-right: 3%;
}

.card-body{background-color: #555;}
.modal-content{background-color: #555;}



/*.bootstrap-datetimepicker-widget.picker-switch.td*/

.bootstrap-datetimepicker-widget{background-color: #A9A9A9;}

modal-content
